/*
Keycloak Admin REST API

This is a REST API reference for the Keycloak Admin REST API.

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package keycloakadminclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerGetRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerGetRequest) Execute() (*ResourceServerRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return ResourceServerRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerGetRequest) (*ResourceServerRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResourceServerRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest struct {
	ctx                          context.Context
	ApiService                   *DefaultAPIService
	realm                        string
	clientUuid                   string
	resourceServerRepresentation *ResourceServerRepresentation
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest) ResourceServerRepresentation(resourceServerRepresentation ResourceServerRepresentation) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest {
	r.resourceServerRepresentation = &resourceServerRepresentation
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerImportPost Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerImportPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerImportPost(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerImportPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerImportPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/import"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resourceServerRepresentation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest struct {
	ctx                     context.Context
	ApiService              *DefaultAPIService
	realm                   string
	clientUuid              string
	policyEvaluationRequest *PolicyEvaluationRequest
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest) PolicyEvaluationRequest(policyEvaluationRequest PolicyEvaluationRequest) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest {
	r.policyEvaluationRequest = &policyEvaluationRequest
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest) Execute() (*PolicyEvaluationResponse, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePost Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePost(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return PolicyEvaluationResponse
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePostRequest) (*PolicyEvaluationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyEvaluationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionEvaluatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/permission/evaluate"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.policyEvaluationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
	fields     *string
	first      *int32
	max        *int32
	name       *string
	owner      *string
	permission *bool
	policyId   *string
	resource   *string
	scope      *string
	type_      *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Fields(fields string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.fields = &fields
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) First(first int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.first = &first
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Max(max int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.max = &max
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Owner(owner string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.owner = &owner
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Permission(permission bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.permission = &permission
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) PolicyId(policyId string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.policyId = &policyId
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Resource(resource string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.resource = &resource
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Scope(scope string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.scope = &scope
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Type_(type_ string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	r.type_ = &type_
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) Execute() ([]AbstractPolicyRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return []AbstractPolicyRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGetRequest) ([]AbstractPolicyRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AbstractPolicyRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/permission"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	if r.first != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first", r.first, "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "")
	}
	if r.permission != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permission", r.permission, "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policyId", r.policyId, "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
	body       *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest) Body(body string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest {
	r.body = &body
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPost Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPost(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/permission"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetRequest) Execute() ([]PolicyProviderRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return []PolicyProviderRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGetRequest) ([]PolicyProviderRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PolicyProviderRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionProvidersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/permission/providers"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
	fields     *string
	name       *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest) Fields(fields string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest {
	r.fields = &fields
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest) Execute() (*AbstractPolicyRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return AbstractPolicyRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGetRequest) (*AbstractPolicyRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AbstractPolicyRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPermissionSearchGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/permission/search"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest struct {
	ctx                     context.Context
	ApiService              *DefaultAPIService
	realm                   string
	clientUuid              string
	policyEvaluationRequest *PolicyEvaluationRequest
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest) PolicyEvaluationRequest(policyEvaluationRequest PolicyEvaluationRequest) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest {
	r.policyEvaluationRequest = &policyEvaluationRequest
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest) Execute() (*PolicyEvaluationResponse, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePost Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePost(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return PolicyEvaluationResponse
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePostRequest) (*PolicyEvaluationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyEvaluationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyEvaluatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/policy/evaluate"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.policyEvaluationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
	fields     *string
	first      *int32
	max        *int32
	name       *string
	owner      *string
	permission *bool
	policyId   *string
	resource   *string
	scope      *string
	type_      *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Fields(fields string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.fields = &fields
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) First(first int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.first = &first
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Max(max int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.max = &max
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Owner(owner string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.owner = &owner
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Permission(permission bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.permission = &permission
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) PolicyId(policyId string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.policyId = &policyId
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Resource(resource string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.resource = &resource
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Scope(scope string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.scope = &scope
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Type_(type_ string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	r.type_ = &type_
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) Execute() ([]AbstractPolicyRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return []AbstractPolicyRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGetRequest) ([]AbstractPolicyRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AbstractPolicyRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/policy"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	if r.first != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first", r.first, "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "")
	}
	if r.permission != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permission", r.permission, "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policyId", r.policyId, "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
	body       *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest) Body(body string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest {
	r.body = &body
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPost Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPost(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/policy"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetRequest) Execute() ([]PolicyProviderRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return []PolicyProviderRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGetRequest) ([]PolicyProviderRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PolicyProviderRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicyProvidersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/policy/providers"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest struct {
	ctx        context.Context
	ApiService *DefaultAPIService
	realm      string
	clientUuid string
	fields     *string
	name       *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest) Fields(fields string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest {
	r.fields = &fields
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest) Execute() (*AbstractPolicyRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return AbstractPolicyRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGetRequest) (*AbstractPolicyRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AbstractPolicyRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPolicySearchGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/policy/search"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest struct {
	ctx                          context.Context
	ApiService                   *DefaultAPIService
	realm                        string
	clientUuid                   string
	resourceServerRepresentation *ResourceServerRepresentation
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest) ResourceServerRepresentation(resourceServerRepresentation ResourceServerRepresentation) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest {
	r.resourceServerRepresentation = &resourceServerRepresentation
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPutExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerPut Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerPut

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPut(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerPutExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resourceServerRepresentation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest struct {
	ctx         context.Context
	ApiService  *DefaultAPIService
	realm       string
	clientUuid  string
	id          *string
	deep        *bool
	exactName   *bool
	first       *int32
	matchingUri *bool
	max         *int32
	name        *string
	owner       *string
	scope       *string
	type_       *string
	uri         *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Id(id string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.id = &id
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Deep(deep bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.deep = &deep
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) ExactName(exactName bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.exactName = &exactName
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) First(first int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.first = &first
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) MatchingUri(matchingUri bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.matchingUri = &matchingUri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Max(max int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.max = &max
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Owner(owner string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.owner = &owner
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Scope(scope string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.scope = &scope
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Type_(type_ string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.type_ = &type_
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Uri(uri string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	r.uri = &uri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) Execute() ([]ResourceRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGet(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return []ResourceRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGetRequest) ([]ResourceRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ResourceRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/resource"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_id", r.id, "")
	}
	if r.deep != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep", r.deep, "")
	}
	if r.exactName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exactName", r.exactName, "")
	}
	if r.first != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first", r.first, "")
	}
	if r.matchingUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "matchingUri", r.matchingUri, "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.uri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uri", r.uri, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest struct {
	ctx                    context.Context
	ApiService             *DefaultAPIService
	realm                  string
	clientUuid             string
	id                     *string
	deep                   *bool
	exactName              *bool
	first                  *int32
	matchingUri            *bool
	max                    *int32
	name                   *string
	owner                  *string
	scope                  *string
	type_                  *string
	uri                    *string
	resourceRepresentation *ResourceRepresentation
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Id(id string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.id = &id
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Deep(deep bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.deep = &deep
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) ExactName(exactName bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.exactName = &exactName
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) First(first int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.first = &first
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) MatchingUri(matchingUri bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.matchingUri = &matchingUri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Max(max int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.max = &max
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Owner(owner string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.owner = &owner
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Scope(scope string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.scope = &scope
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Type_(type_ string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.type_ = &type_
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Uri(uri string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.uri = &uri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) ResourceRepresentation(resourceRepresentation ResourceRepresentation) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	r.resourceRepresentation = &resourceRepresentation
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) Execute() (*ResourceRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePost Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePost(ctx context.Context, realm string, clientUuid string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
	}
}

// Execute executes the request
//
//	@return ResourceRepresentation
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePostRequest) (*ResourceRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResourceRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourcePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/resource"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_id", r.id, "")
	}
	if r.deep != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep", r.deep, "")
	}
	if r.exactName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exactName", r.exactName, "")
	}
	if r.first != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first", r.first, "")
	}
	if r.matchingUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "matchingUri", r.matchingUri, "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.uri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uri", r.uri, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resourceRepresentation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest struct {
	ctx         context.Context
	ApiService  *DefaultAPIService
	realm       string
	clientUuid  string
	resourceId  string
	id          *string
	deep        *bool
	exactName   *bool
	first       *int32
	matchingUri *bool
	max         *int32
	name        *string
	owner       *string
	scope       *string
	type_       *string
	uri         *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Id(id string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.id = &id
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Deep(deep bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.deep = &deep
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) ExactName(exactName bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.exactName = &exactName
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) First(first int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.first = &first
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) MatchingUri(matchingUri bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.matchingUri = &matchingUri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Max(max int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.max = &max
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Owner(owner string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.owner = &owner
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Scope(scope string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.scope = &scope
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Type_(type_ string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.type_ = &type_
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Uri(uri string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	r.uri = &uri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGet Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@param resourceId
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGet(ctx context.Context, realm string, clientUuid string, resourceId string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
		resourceId: resourceId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdAttributesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/resource/{resource-id}/attributes"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resource-id"+"}", url.PathEscape(parameterValueToString(r.resourceId, "resourceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_id", r.id, "")
	}
	if r.deep != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep", r.deep, "")
	}
	if r.exactName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exactName", r.exactName, "")
	}
	if r.first != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first", r.first, "")
	}
	if r.matchingUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "matchingUri", r.matchingUri, "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.uri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uri", r.uri, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest struct {
	ctx         context.Context
	ApiService  *DefaultAPIService
	realm       string
	clientUuid  string
	resourceId  string
	id          *string
	deep        *bool
	exactName   *bool
	first       *int32
	matchingUri *bool
	max         *int32
	name        *string
	owner       *string
	scope       *string
	type_       *string
	uri         *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Id(id string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.id = &id
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Deep(deep bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.deep = &deep
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) ExactName(exactName bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.exactName = &exactName
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) First(first int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.first = &first
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) MatchingUri(matchingUri bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.matchingUri = &matchingUri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Max(max int32) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.max = &max
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Name(name string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.name = &name
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Owner(owner string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.owner = &owner
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Scope(scope string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.scope = &scope
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Type_(type_ string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.type_ = &type_
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Uri(uri string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	r.uri = &uri
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteExecute(r)
}

/*
AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDelete Method for AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDelete

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param realm realm name (not id!)
	@param clientUuid id of client (not client-id!)
	@param resourceId
	@return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest
*/
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDelete(ctx context.Context, realm string, clientUuid string, resourceId string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest {
	return DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		realm:      realm,
		clientUuid: clientUuid,
		resourceId: resourceId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteExecute(r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/clients/{client-uuid}/authz/resource-server/resource/{resource-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-uuid"+"}", url.PathEscape(parameterValueToString(r.clientUuid, "clientUuid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resource-id"+"}", url.PathEscape(parameterValueToString(r.resourceId, "resourceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_id", r.id, "")
	}
	if r.deep != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep", r.deep, "")
	}
	if r.exactName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exactName", r.exactName, "")
	}
	if r.first != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first", r.first, "")
	}
	if r.matchingUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "matchingUri", r.matchingUri, "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.uri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uri", r.uri, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdGetRequest struct {
	ctx         context.Context
	ApiService  *DefaultAPIService
	realm       string
	clientUuid  string
	resourceId  string
	id          *string
	deep        *bool
	exactName   *bool
	first       *int32
	matchingUri *bool
	max         *int32
	name        *string
	owner       *string
	scope       *string
	type_       *string
	uri         *string
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdGetRequest) Id(id string) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdGetRequest {
	r.id = &id
	return r
}

func (r DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdGetRequest) Deep(deep bool) DefaultAPIAdminRealmsRealmClientsClientUuidAuthzResourceServerResourceResourceIdGetRequest {
	r.deep = &deep
	return r
}

[...]
